* {
    font-family: sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    min-width: 250px;
    max-width: 500px;
    border-radius: 1px 1px 1px 1px;
    overflow: hidden;
}

.detail {
    text-align: center;
    font-family: Courier;
    color: #bbbbbb;
    font-weight: 700;
    margin-bottom: 20px;
}

.title {
    font-size: 1.7em;
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    margin-bottom: 20px;
}